@model List<Employee>

<h2>Employee Table</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Total Time Worked</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr @(employee.TotalTimeWorked < 100 ? "style='background-color: #ffcccc;'" : "")>
                <td>@employee.Name</td>
                <td>@employee.TotalTimeWorked hours</td>
            </tr>
        }
    </tbody>
</table>
